body {
  background-color: white;
  text-align: center;
  font-family: Helvetica;
}

img {
  max-height: 220px;
  border-radius: 8px;
}

a {
  text-decoration: none;
  color: black;
}

.content {
  padding: 0 10%;
}

.center {
  margin: 0 auto;
}

.margin-bottom {
  margin-bottom: 2%;
}

.imgContainer {
  margin-top: 3%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30px;
  border: solid black 1px;
  border-radius: 8px;
  max-width: 40%;
  background-color: #11E000;
  transition: 0.3s;
}

.button:hover {
  background-color: #13F401
}
